# Ignore the build output folders
/bin/
/obj/

/# Ignore NuGet package folder
/packages/

# User-specific files
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]istro/
[Dd]ebugAll/
[Dd]ebug_x86/
[Dd]ebug_x64/
[Dd]ebugAnyCPU/
[Dd]ebug/Packages/
